img.dccon
{
  width: 100px;
  height: 100px;
  
}

img.dccon[data-name^="볼트공중"]
{
  animation: rotation .5s infinite linear;
}

img.dccon[data-name^="관짝"]
{
  animation: shake .5s infinite linear;
}

div.dccon-selector-root
{
  padding: 0 5px;
  position: absolute;
  width: 100%;
  max-height: 200px !important;
  visibility: hidden;
}

div.dccon-selector-wrapper
{
  background: lightgray;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  width: 100%;
  max-height: inherit;
  z-index: 100;
  overflow: auto;
}

div.dccon-selector-wrapper::-webkit-scrollbar {
  width: 10px;
}

div.dccon-selector-wrapper::-webkit-scrollbar-thumb {
  height: 17%;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 10px;
}

div.dccon-selector-wrapper::-webkit-scrollbar-thumb:hover {
  background-color: rgba(255, 255, 255, 1);
}

div.dccon-selector-wrapper::-webkit-scrollbar-track {
  background-color: transparent;
}

div.dccon-list
{
  display: flex;
  flex-wrap: wrap;
  overflow: auto;
}

img.dccon-item
{
  margin: 5px;
  border-right: 1px solid gray;
  border-bottom: 1px solid gray;
  border-radius: 1px;
  width: 40px;
  height: 40px;
}

img.dccon-item:hover
{
  animation: enlarge .2s forwards;
}

.enlarge
{
  width: 45px !important;
  height: 45px !important;
}


.hide
{
  animation: disappear .3s forwards;
}

.show
{
  animation: appear .3s forwards;
}

@keyframes rotation {
  from {
    transform: rotate(0deg); 
  }

  to {
    transform: rotate(360deg); 
  }
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

@keyframes disappear {
  100% {
    opacity: 0%;
    visibility: hidden;
  }
}

@keyframes appear {
  100% {
    opacity: 100%;
    visibility: visible;
  }
}

@keyframes enlarge {
  from {
    width: 40px;
    height: 40px;
  }
  to {
    width: 45px;
    height: 45px;
  }
}