main 
{
  width: 150px;
  text-align: center;
}

div.main-title
{
  text-align: center;
  display: inline;
}

div.main-list
{
  text-align: left;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  margin: 10px;
}

div.streamer
{
  display: flex;
  justify-content: space-between;

}

div.main-buttons
{
  text-align: center;
  display: inline;
}

button.refresh-data
{
  background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;

  width: 20px;
  height: auto;
}

button.refresh-data:hover
{
  animation: rotation 1s forwards ease;
}

@keyframes rotation {
  from {
    transform: rotate(0deg); 
  }

  to {
    transform: rotate(360deg); 
  }
}